<div class="container-fluid bg-primary text-white text-center py-3">
  <h1>Biblioteca UDB</h1>
</div>

<div class="container mt-4">
  <div class="row">
      <div class="col-md-6">
          <div class="gallery">
              <div class="item">
                  <img src="https://i.pinimg.com/236x/96/7a/92/967a9262e78069eb2d36c7aae7f0dd81.jpg" alt="Imagen 1">
              </div>
              <div class="item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO2yZzjxvvVoAEamMqjWmzBZyDKSr_3cECohGhNZDCSfvG7SanGCKjslKW6RJXNlWmNmw&usqp=CAU" alt="Imagen 2">
              </div>
              <div class="item">
                  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/cc8a8d34051824.56c7461a62ad2.jpg" alt="Imagen 3">
              </div>
          </div>
      </div>
      <div class="col-md-6 text-center">
          <div class="about-us">
              <h2>Sobre nosotros</h2>
              <p>
                  Bienvenido a nuestra plataforma dedicada a la comunidad de la Universidad Don Bosco (UDB). Somos una herramienta diseñada para simplificar el registro y organización de libros, autores y colecciones, facilitando así el acceso a valioso conocimiento.
              </p>
              <p>
                  Nuestro objetivo es proporcionar una experiencia intuitiva y eficiente para los miembros de la UDB, permitiendo el fácil seguimiento y gestión de recursos académicos. Desde el registro de libros hasta la creación de colecciones personalizadas, estamos comprometidos con brindar una solución completa y adaptada a tus necesidades.
              </p>
              <p>
                  Explora nuestra plataforma y descubre cómo podemos ayudarte a gestionar tu biblioteca de manera eficaz y eficiente. ¡Únete a nosotros en este viaje hacia un acceso más accesible y organizado al conocimiento!
              </p>
          </div>
          <div class="mt-4">
              <button class="btn btn-primary" [routerLink]="'/menu'">
                  <i class="bi bi-person"></i> Iniciar Sesión
              </button>
          </div>
      </div>
  </div>
</div>