<div class="container-fluid bg-primary text-white text-center py-3">
    <h1>Biblioteca UDB</h1>
  </div>
  <br>
  <form class="container" (ngSubmit)="confirm()" #libroForm="ngForm">
    <h1 class="mt-4">Registro de Libros</h1>
    <div class="row">
      <div class="col-6">
        <div class="selected-book-info">
          <div *ngIf="libroDeseado">
            <h2>Libro Deseado:</h2>
            <p>{{ libroDeseado.titulo }}</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col">
            <input type="submit" [disabled]="!libroDeseado" class="btn btn-primary" value="Registrar Libro Deseado">
          </div>
          <div class="col">
            <button (click)="returnMenu()" class="btn btn-secondary">Volver al menú</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-4 mb-4" *ngFor="let libro of libros">
        <div class="card">
          <img [src]="libro.portada" class="card-img-top" alt="Portada" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{ libro.titulo }}</h5>
            <p class="card-text">{{ libro.categoria }}</p>
            <button (click)="seleccionarLibro(libro)" [class.selected]="libroDeseado && libroDeseado.titulo === libro.titulo" class="btn btn-primary">
              {{ libroDeseado && libroDeseado.titulo === libro.titulo ? 'Seleccionado' : 'Seleccionar' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  