<div class="container-fluid bg-primary text-white text-center py-3">
    <h1>Biblioteca UDB</h1>
</div>
<br>
<form id="container">
    <h1>Registro en colección</h1>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br><br>

    <label for="genero">Género:</label>
    <input type="text" id="genero" name="genero" required><br><br>

    <input type="submit" value="Registrar Libro">
    <br>
    <button (click)="returnMenu()">Volver al menu</button>
</form>