<div class="container-fluid bg-primary text-white text-center py-3">
    <h1>Biblioteca UDB</h1>
</div>
<br>
<form class="container" (ngSubmit)="confirm()" #libroForm="ngForm">
    <h1>Registro de Libros</h1>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required [(ngModel)]="libro.titulo" ngControl="titulo"><br><br>

    <label for="autor">Autor:</label>
    <input type="text" id="autor" name="autor" required [(ngModel)]="libro.autor" ngControl="autor"><br><br>

    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" required [(ngModel)]="libro.categoria" ngControl="categoria"><br><br>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" step="0.01" required [(ngModel)]="libro.precio" ngControl="precio"><br><br>
    <label for="portada">Portada:</label>
    <input type="file" accept="image/*" id="portada" name="portada" (change)="handlePortada($event)"><br><br>

    <input type="submit" value="Registrar Libro">
    <br>
    <button (click)="returnMenu()">Volver al menú</button>
</form>
<!--  código para mostrar los libros -->
<div class="container mt-5">
    <div class="row">
        <div class="col-4 mb-4" *ngFor="let libro of libros">
            <div class="card">
                <img [src]="libro.portada" class="card-img-top" alt="Portada">
                <div class="card-body">
                    <h5 class="card-title">{{ libro.titulo }}</h5>
                    <p class="card-text">{{ libro.autor }}</p>
                    <p class="card-text">{{ libro.categoria }}</p>
                    <p class="card-text">{{ libro.precio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
