<div class="container-fluid bg-primary text-white text-center py-3">
    <h1>Biblioteca UDB</h1>
  </div>

  <div class="container mt-4">
    <div class="row text-center">
        <h5>¡¡BIENVENIDO!!</h5>
        <p>Elija una de las siguientes Opciones:</p>
        <div class="col-md-6">
            <div class="card">
                <button class="btn btn-primary mb-3" [routerLink]="'/registrar-libros'">Registrar Libros</button>
                <p>Permite a los usuarios agregar detalles de los libros que poseen
                  como título, autor, categoría, precio.
                  </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <button class="btn btn-primary mb-3" [routerLink]="'/registro-libros-deseados'">Registro de Libros Deseados</button>
                <p> Permite a los usuarios crear una lista de libros que desean adquirir en el futuro.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <button class="btn btn-primary mb-3" [routerLink]="'/registro-coleccion'">Registro en Colección</button>
                <p>Permite a los usuarios asignar libros a categorías específicas, como novela, ciencia ficción, no ficción, etc.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <button class="btn btn-primary" [routerLink]="'/registro-autor'">Registro de Autor</button>
                <p> Deja que los usuarios añadan información sobre los autores de los libros, como nombre, fecha de nacimiento, biografía.
                </p>
            </div>
        </div>
    </div>
</div>
  
  
  

  