<div class="container-fluid bg-primary text-white text-center py-3">
    <h1>Biblioteca UDB</h1>
  </div>

  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-md-6">
        <button class="btn btn-primary mb-3" [routerLink]="'/registrar-libros'">Registrar Libros</button>
        <p>Descripción de la funcionalidad de Registrar Libros.</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary mb-3" [routerLink]="'/registro-libros-deseados'">Registro de Libros Deseados</button>
        <p>Descripción de la funcionalidad de Registro de Libros Deseados.</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary mb-3" [routerLink]="'/registro-coleccion'">Registro en Colección</button>
        <p>Descripción de la funcionalidad de Registro en Colección.</p>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" [routerLink]="'/registro-autor'">Registro de Autor</button>
        <p>Descripción de la funcionalidad de Registro de Autor.</p>
      </div>
    </div>
  </div>
  
  
  

  