<div class="container-fluid bg-primary text-white text-center py-3">
    <h1>Biblioteca UDB</h1>
</div>

<br>

<form class="container" (ngSubmit)="registrarAutor()">
    <h1>Registro de Autor</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="autor.nombre" required><br><br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" [(ngModel)]="autor.apellidos" required><br><br>

    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="autor.fechaNacimiento" required><br><br>

    <label for="bibliografia">Bibliografía:</label>
    <textarea id="bibliografia" name="bibliografia" [(ngModel)]="autor.bibliografia" rows="4" cols="50"></textarea><br><br>

    <button type="submit">Registrar</button>
    <br>
    <button (click)="returnMenu()">Volver al menú</button>
</form>
